<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="IPLayout" />
    <!-- Replace MyCustomAssembly with your actual assembly name -->
  </extensions>
  <targets>
    <target xsi:type="ColoredConsole" name="consoleTarget" layout="${longdate}|${level:uppercase=true}|${logger}|${message}${aspnet-request-ip}" />
  </targets>
  <targets>
    <target xsi:type="File" name="fileTarget" fileName="C:\Users\VishnuPadiga\Desktop\EventManager\Logs\log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${aspnet-request-ip}|${aspnet-request-url}" />
    <layout>
      <layoutRenderer type="ip" />
      <layoutRenderer type="message" />
    </layout>
    <!-- <layout xsi:type="JsonLayout">
      <attribute name="time" layout="${longdate}" />
      <attribute name="level" layout="${level:upperCase=true}" />
      <attribute name="message" layout="${message}" />
      <attribute name="ipAddress" layout="${aspnet-request-ip}" />
      <attribute name="endpoint" layout="${aspnet-request-url}" />
    </layout> -->
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="consoleTarget,fileTarget" />
  </rules>
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
</nlog>

